section#about
    .container.text-center
        .title.mb-3
            h3 Digital-агентство «Паровоз» - SEO продвижение по России
        .content
            p <b>Digital-агентство "Паровоз" создано IT-специалистами с колоссальным опытом.</b>

            p При организации компании мы думали: <i>«Как сделать агентство таким, чтобы исключить все негативные для клиента моменты, которые присутствуют в организации стандартных Web-студий?»</i>
            ul
                li <strong>Паровоз всегда на связи</strong>: 24/7, в удобном для Вас формате (почта, мессенджеры, телефон).
                li <strong>Приходя на обслуживание в Паровоз</strong>, Вы получаете личного интернет маркетолога,&nbsp; который решает задачи продвижения и стратегического планирования. Все наши знания и опыт направлены на удовлетворение Ваших интересов.
                li <strong>Наши клиенты не стоят в очереди на услуги.</strong> Мы реагируем на любую Вашу заявку в течение суток.
                li <strong>Отдел разработки получает продуманную и равномерную нагрузку</strong>, специалисты не ведут сразу несколько проектов, что позволяет нам быть более продуктивными и поддерживать высокое качество оказания услуг.
                li <strong>Мы постоянно обучаемся и развиваемся</strong>, создаем собственные софты и программное обеспечение для решения Ваших задач бизнеса. Создаем уникальные методы продвижения, не имеющие аналогов на рынке &ndash; более эффективные и убедительные.
                li <strong>Заботясь об интересах всех членов команды</strong>, мы достигаем комфортных условий труда, в которых каждый отдельный специалист берет на себя ответственность в полном объеме за Ваш проект. Это дает клиентам уверенность в том, что сайт или продвижение будут реализованы самым оптимальным образом.
                li <strong>Сотрудничество с Паровозом</strong> &ndash; это комфорт и уверенность в бизнес-партнёре. Мы не будем мучить Вас телефонными звонками по поводу и без, предложим &laquo;максимум&raquo; для решения Ваших задач, ответим подробно на все интересующие вопросы.
            p <strong>В нас Вы будете уверены на 100%.</strong></p>
            p <strong>Хотите проверить Паровоз в деле?</strong></p>
            p Закажите аудит сайта или рекламной кампании. Более компетентного и развернутого аудита в Ижевске Вам не предоставит ни одна Web-студия.</p>
section#advantages
    .container
        .row
            .col-6
                .img-left.position-absolute
                    img(src="img/Главная/Mask%20Group.png")
            .col-6
                .advantages.d-flex.flex-wrap.justify-content-around.ml-5
                    .advantage.text-center
                        img.img-fluid(src="img/Главная/timer.png")
                        p SEO-продвижение,<br> не имеющее аналогов
                    .advantage.text-center
                        img.img-fluid(src="img/Главная/idea.png")
                        p Поддержка 24/7
                    .advantage.text-center
                        img.img-fluid(src="img/Главная/structure.png")
                        p Результаты за 2 месяца
        .row
            .col-6
                .bottom.position-relative.w-75
                    .content.position-absolute
                        p Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
            .col-6
                .img-right.float-right
                    img(src="img/Главная/Mask%20Group.png")
