section#formBlock
    .container
        .row
            .col-6
                .form-content.p-5
                    .title
                        h3 Тестовый месяц SEO продвижения = 15 000 рублей. Попробуй сейчас!
                    p <strong>Тестовый месяц "SEO продвижения"</strong> - это SEO продвижение не имеющие аналогов на рынке, которое выведет Ваш сайт в топ уже в первый месяц по определенному количеству ключевых запросов. Вы получаете SEO за 15 000 рублей, вместо 20, 30, 40... в первый месяц.
                    p <strong>Результаты:</strong>
                    ul.ml-3
                        li Вывод в топ: 30-40% ключевых запросов уже в первым месяц (% - зависит от семантического ядра)
                        li Увеличение индекса страниц сайта в поисковых системах
                        li Увеличение посещаемости сайта в 2 раза
                        li Рост внешней ссылочной массы сайта
                        li Увеличение видимости сайта в поисковых системах
                        li Повышение релевантности сайта ключевым запросам
                        li Неограниченое количество ключевых запросов
                        li Неограниченые регионы продвижения
                    p И это только малая часть результатов которые вы ощутите в первым месяц продвижения. P.S. - подробный отчет прилагается.

            .col-6
                .form-wrap.p-5
                    form
                        .form-caption.mb-5
                            .title.text-center
                                h3 Заказать услугу

                        .form-group
                            input(type="text" aria-describedby="nameHelp" placeholder="Ваше имя").form-control#einputName
                        .form-group
                            input(type="number" aria-describedby="phoneHelp" placeholder="Ваш номер телефона").form-control#einputPhone
                        .form-group
                            input(type="email" aria-describedby="emailHelp" placeholder="Ваш email").form-control#einputEmail
                        .form-group
                            input(type="text" aria-describedby="cityHelp" placeholder="Ваш город").form-control#einputCity
                        .form-group
                            input(type="text" aria-describedby="commentHelp" placeholder="Комментарий").form-control#einputComment
                        .agreement
                            p Нажимая на кнопку вы даете согласие на обработку персональных данных

                        .row
                            .col-6.text-center
                                p капча
                            .col-6.text-center
                                button(type="submit").btn.parovoz-btn Заказать