- let icons = ["fa-viber", "fa-whatsapp", "fa-skype", "fa-vk", "fa-instagram", "fa-facebook", "fa-youtube"]
section#header.py-2.d-none.d-lg-block
    .container
        .header-wrap
            .row.d-flex.justify-content-between.align-items-center
                .col-4
                    .address.text-left.d-flex.align-items-center.prsp.mb-3
                        .addr-marker.mr-3
                            i.fas.fa-map-marker-alt
                        .addr Удмуртия, г. Ижевск<br>ул. Ижевская 2
                    .social-icons.d-none.d-lg-block
                        ul.d-flex.justify-content-left
                            each icon in icons
                                li
                                    a
                                        i.fab(class=icon)
                .col-4
                    .logo.text-center
                        img.img-fluid(src="img/Главная/logo.svg.png")
                .col-2.text-right
                    .email.mb-3
                        a(href="mailto:login@gmail.com") login@gmail.com
                    .get-audit
                        a.btn.parovoz-btn(href="#") Получить аудит
                .col-2.text-right
                    .tel.mb-3
                        a(href="tel:+79128577186") +79128577186
                    .request-callback
                        a.btn.parovoz-btn(href="#") Заказать звонок

                    //.social-icons.d-none.d-lg-block
                        ul.d-flex.justify-content-end
                            each icon in icons
                                li
                                    a
                                        i.fab(class=icon)



